@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';
@import './colors';

$dateRangeContainerH: $base-line-height * 2.5;

.yk-dateRange-container {
  width: 300px;
  height: $dateRangeContainerH;
  background: $white;
  display: inline-block;
  border: 1px solid $border;
  border-radius: 7px;
  position: relative;

  &.is-active {
    border: 1px solid $blue;
  }
}

.yk-input-container {
  display: flex;
  width: 100%;
  height: 100%;

  .yk-input-section {
    width: 50%;
    height: 100%;
    outline: none;
    padding: $base-line-height/4 10px;
    color: #2c2e2f;
    cursor: pointer;
    position: relative;

    &:first-child {
      border-right: .5px solid $border-light;
    }

    &:last-child {
      border-left: .5px solid $border-light;
    }

    .yk-label, .yk-content {
      @include type-setting(-1);
      display: block;
      text-align: center;
    }

    .yk-label {
      color: $blue;
    }

    .yk-icon {
      position: absolute;
      right: 10px;
      bottom: $base-line-height / 4;
      width: 20px;
      height: 20px;

      svg {
        fill: $blue;
      }
    }
  }
}

.yk-calendar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 500px;
  background: $white;
  border: 1px solid $blue;
  border-radius: 7px;
  user-select: none;
  z-index: 100;
  display: none;
  flex-wrap: wrap;

  @include respond-to(medium) {
    position: absolute;
    top: calc(#{$dateRangeContainerH} + #{$base-line-height});
  }

  &.is-opened {
    display: flex;
  }

  &:after {
    content: '';
    position: absolute;
    width: $base-line-height;
    height: $base-line-height;
    top: -11px;
    left: 65px;
    transform: rotate(45deg);
    border-top: 1px solid $blue;
    border-left: 1px solid $blue;
    background: $white;
    transition: left 0.5s;
    display: none;

    @include respond-to(medium) {
      display: block;
    }
  }

  &.is-to:after {
    left: 215px;
  }

  .yk-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .yk-calendar {
    display: flex;
    width: 100vw;
    height: 500px;
    border-bottom: 1px solid $border-light;
    padding: $base-line-height;
    @include respond-to(medium) {
      width: 340px;
      border-right: 1px solid $border-light;
      border-bottom: none;
    }
  }

  .yk-calendar-sidebar {
    flex-grow: 1;
    width: 158px;

    .yk-sidebar-btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      width: 100%;
      height: 100%;

      .yk-btn {
        background: $white;
        border-radius: $base-line-height;
        border: 1px solid $blue;
        height: $base-line-height * 2;
        width: 138px;
        text-align: center;
        outline: none;
        margin: $base-line-height/4 0;
        padding: 0;
        color: $text-button;
        cursor: pointer;
      }
    }
  }
}